#menu {
  display: block;
  margin: 0 auto;
  max-width: 95vw;
  max-height: 75vh;
  margin-top: 10vh;
}

a {
  cursor: pointer;
  outline: none;
}

.item .sector {
  transition: all .1s linear;
  fill: #fff;
  stroke: #111;
}

.item:hover .sector,
.item:focus .sector {
  fill: #eee;
}

.menu-trigger {
  fill: #EA2A55;
  pointer-events: auto;
}

.menu-trigger:hover,
.menu-trigger:focus {
  cursor: pointer;
}

symbol {
  overflow: visible;
}

.middleCircle {
  fill: #EA2A55;
}

.middleCircle:hover {
  fill: #eee;
}
